openapi: 3.0.3
info:
  title: Checkr Account API
  description: The Checkr API is a RESTful interface for running compliant employment background checks. Employers, staffing firms, and platform partners create candidates, send invitations, order packages, and retrieve reports composed of individual screenings - SSN trace, county/state/national/federal criminal searches, sex offender registry, motor vehicle records, and education / employment verifications. The API also covers adverse action workflows, subscriptions and continuous checks, node/hierarchy and geo account structure, documents, Form I-9, and webhooks for event-driven report status updates. Authentication is HTTP Basic auth with your secret API key as the username and an empty password; Checkr Partner integrations use OAuth. All responses are JSON. This document models the widely used, publicly documented endpoints; it is not exhaustive of every screening type Checkr offers.
  version: '1.0'
  contact:
    name: Checkr
    url: https://checkr.com
  termsOfService: https://checkr.com/terms-of-service
servers:
- url: https://api.checkr.com/v1
  description: Production
- url: https://api.checkr-staging.com/v1
  description: Staging
security:
- basicAuth: []
tags:
- name: Account
  description: Account and user metadata.
paths:
  /account:
    get:
      operationId: getAccount
      tags:
      - Account
      summary: Retrieve account details
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /users:
    get:
      operationId: listUsers
      tags:
      - Account
      summary: List users
      responses:
        '200':
          description: A list of users on the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: user
        name:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string
    Account:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: account
        name:
          type: string
        uri_name:
          type: string
        adverse_action_email:
          type: string
        support_email:
          type: string
        billing_email:
          type: string
        api_authorized:
          type: boolean
        authorized:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with your secret API key as the username and an empty password. Checkr Partner integrations authenticate on behalf of customer accounts using OAuth instead.
