openapi: 3.0.3
info:
  title: Checkr Account Packages API
  description: The Checkr API is a RESTful interface for running compliant employment background checks. Employers, staffing firms, and platform partners create candidates, send invitations, order packages, and retrieve reports composed of individual screenings - SSN trace, county/state/national/federal criminal searches, sex offender registry, motor vehicle records, and education / employment verifications. The API also covers adverse action workflows, subscriptions and continuous checks, node/hierarchy and geo account structure, documents, Form I-9, and webhooks for event-driven report status updates. Authentication is HTTP Basic auth with your secret API key as the username and an empty password; Checkr Partner integrations use OAuth. All responses are JSON. This document models the widely used, publicly documented endpoints; it is not exhaustive of every screening type Checkr offers.
  version: '1.0'
  contact:
    name: Checkr
    url: https://checkr.com
  termsOfService: https://checkr.com/terms-of-service
servers:
- url: https://api.checkr.com/v1
  description: Production
- url: https://api.checkr-staging.com/v1
  description: Staging
security:
- basicAuth: []
tags:
- name: Packages
  description: Bundles of screenings and the programs that group them.
paths:
  /packages:
    get:
      operationId: listPackages
      tags:
      - Packages
      summary: List packages
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of packages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageList'
  /packages/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getPackage
      tags:
      - Packages
      summary: Retrieve a package
      responses:
        '200':
          description: The package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
  /programs:
    get:
      operationId: listPrograms
      tags:
      - Packages
      summary: List programs
      responses:
        '200':
          description: A list of programs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Program'
  /programs/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getProgram
      tags:
      - Packages
      summary: Retrieve a program
      responses:
        '200':
          description: The program.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
components:
  parameters:
    Page:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: The number of results per page (default 25).
      schema:
        type: integer
        default: 25
        maximum: 100
    ResourceId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  schemas:
    Program:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: program
        name:
          type: string
        default_package:
          type: string
        created_at:
          type: string
          format: date-time
    Package:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: package
        name:
          type: string
        slug:
          type: string
        price:
          type: integer
          description: Package price in US cents.
        screenings:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              subtype:
                type: string
        created_at:
          type: string
          format: date-time
    PackageList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Package'
        object:
          type: string
          example: list
        count:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with your secret API key as the username and an empty password. Checkr Partner integrations authenticate on behalf of customer accounts using OAuth instead.
